.pro-detail-wrapper{
    .pro-detail{
        .pro-name{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: .426667rem;
            padding: 0 0.4rem 0.4rem;
        }
        .pro-price{
            color: #ff5000;
        }
    }
    .bottom-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    background-color: #fff;
    .bottom-bar-icon,.sys-button{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .bottom-bar-icon {
        padding: 0.5rem;
    }
    .sys-button{
        color: #fff;
        flex: 1;
    }
    .collection{
        align-self: flex-end;
        padding: .5rem .5rem .2rem;
        position: relative;
        font-size: 0.5rem;
        @extend .bottom-bar-icon;
        line-height: 1;
        &:after{
            content:'\e600';
            font-family: iconfont;
            position: absolute;
            top: -0.5rem;
            left: 0;
            right: 0;
            font-size: 0.76rem;
        }
    }
    .active{
        @extend .collection;
        color: #ff5000;
    }
    .cart,.buy{
        padding: 0.32rem 0.6rem;
    }
    .cart{
        @extend .sys-button;
        @extend .bottom-bar-icon;
        background-color: #ff9402;
    }
    .buy{
        @extend .sys-button;
        @extend .bottom-bar-icon;
        background-color: #ff5000;
    }
}
}
