.my-order-list{
	min-height: 100%;
	.choose-address-item{
		padding: 0.4rem 0.4rem;
	}
}
.actionBtn, #header {
    left: 0;
    position: absolute;
}
.actionBtn {
	background-color: #f50;
	color: #fff;
	font-size: 0.69rem;
	height: 2.05rem;
	width: 100%;
	bottom: 0;
	border: 0;
	position: fixed;
}
.addressList {
	width: 100%;
	background-color: #fff;
	.address-row.active .right-icons, .modify .address-row .right-icons {
		visibility: visible
	}
	.address-row, .help-icon, .navigate-right:after {
		background-repeat: no-repeat
	}
	.address-row.active .icon-check, .modify .address-row.active .icon-right {
		display: block
	}
	.address-row {
		border: none;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(50%, #ddd), color-stop(50%, transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, transparent), color-stop(100%, #d8d8d8));
		background-image: -webkit-linear-gradient(top, #ddd 0, #ddd 50%, transparent 50%), -webkit-linear-gradient(top, transparent 50%, #d8d8d8 50%, #d8d8d8 100%);
		background-image: linear-gradient(to bottom, #ddd 0, #ddd 50%, transparent 50%), linear-gradient(to bottom, transparent 50%, #d8d8d8 50%, #d8d8d8 100%);
		-webkit-background-size: 100% 1px, 100% 1px;
		background-size: 100% 1px, 100% 1px;
		background-position: top;
		min-height: 1.84rem;
		font-size: 0.6rem;
		padding: .4rem .5rem;
		position: relative;
		.address-tel{
			float: right;
		}
	}
	.address-row:first-child {
		margin-bottom: .16rem
	}
	.address-row.active {
		background-color: #5e6b85;
		color: #fff
	}
	.address-row .right-icons .icon-right, .address-row.active .icon-right {
		display: none
	}
	.address-row div {
		margin-right: 1.2533333rem
	}
	.address-row .right-icons {
		visibility: hidden;
		position: absolute;
		right: 0;
		width: 1.2533333rem;
		height: 100%;
		top: 1rem;
	}
	.address-row .right-icons i {
		font-size: 1rem
	}
}
