.active{
    background-color: #5e6b85;
    color: #fff;
}
.address-name{
    font-size: 0.75rem;
}
.address-con{
    font-size: 0.6rem;
}
.actionBtn{
    left: 0;
    position: absolute;
    background-color: #f50;
    color: #fff;
    font-size: 0.69rem;
    height: 2.05rem;
    width: 100%;
    bottom: 0;
    border: 0;
    position: fixed;
}
